.buttonBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    background: black;
    padding: 1px;
    border-radius: 3px;
    top: 60px;
    left: -30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.button img {
    width: 16px;
}